<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Your Shipments</h1>
    <table border="1">
        <tr>
            <td colspan="3" style="text-align: center;">
                <form action="" method="GET">
                    <input type="text" name="q" placeholder="search shipments" value="{% autoescape off %}{{query}}{% endautoescape %}">
                    <input type="submit" name="" id="">
                </form>
            </td>
        </tr>
        {% for s in shipments %}
        <tr>
            <td>
                <a href="/edit/{{s.id}}">#{{s.id}}</a> 
            </td>
            <td>
                {{s.name}}
            </td>
            <td>
               {{s.address}}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align: center;">
                <a href="/edit/new/">Add</a>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <a href="/logout/">Log out</a>
</body>
</html>