<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <h1>EasyShip - Shipping Made Easy*</h1>
    <form action="/login/" method="POST">
        {% csrf_token %}
        <p>{{error}}</p>
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id=""></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Log in"></td>
            </tr>
        </table>
    </form>
    <br><br>
    <small>* maybe <i>too</i> easy</small>
</body>
</html>